* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  background: -webkit-linear-gradient(to right, #f8cdda, #1d2b64);
  background: linear-gradient(to right, #f8cdda, #1d2b64);
}
